html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
a {
  text-decoration: none;
}
button {
  display: block;
  cursor: pointer;
  padding: 8px 12px;
  min-width: 200px;
  border: none;
  background-color: #0f82e6;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
